.mention {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    animation: blink .4s infinite alternate;

    @keyframes blink {
        0% {
            transform: translateX(-5px) rotate(-0.5deg);
        }

        25% {
            transform: translateX(0px) rotate(0deg);
        }

        50% {
            transform: translateX(5px) rotate(0.5deg);
        }

        100% {
            transform: translateX(0px) rotate(0deg);
        }
    }

    &:hover {
        animation: none;
    }

    &__avatar-frame {
        position: relative;
        width: 50px;
        height: 50px;

        background-color: #18202b;
        color: #ff0000;

        border-radius: 50%;
        z-index: 2;

        border: 2px inset rgb(12, 14, 17);
    }

    &__avatar {
        position: absolute;
        top: -22px;
        left: -22px;
    }

    &:hover &__container {
        max-width: 100%;
        padding: 0 15px;
    }

    &__container {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        white-space: nowrap;
        
        transition: max-width 0.4s, padding .4s;
        width: auto;
        max-width: 0px;
        height: 40px;
        transform: translateX(-12px);
        padding: 0;
        overflow: hidden;

        background-color: #18202b;
        border: 2px solid rgb(26, 26, 26);
    }

    &__msg {
        line-height: 40px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }

    &__count {
        position: absolute;
        bottom: -8px;
        right: -8px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
        font-weight: bold;
        line-height: 18px;
        text-align: center;

        background-color: #18202b;
        border-radius: 50%;
        padding: 2px;
        width: 20px;
        height: 20px;

        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    }
}
