.nitro-custom-tools {
    width: 150px;
}

.nitro-custom-tools-hotelalert {
    width: 450px;
}

.nitro-custom-tools-chatlog {
    width: 450px;
    height: 450px;
}

.nitro-custom-tools-admin {
    width: 825px;
    height: 580px;
}
